@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

*,
body {
  font-family: "Manrope", sans-serif;
}

body {
  background: $background;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 0.687rem 2.375rem;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.625rem;
  font-size: 0.687rem;
  font-weight: bold;
  color: $text-color;
  text-transform: uppercase;
  border: 1px solid $button;
  border-radius: 6px;
  transition: 200ms ease-in-out;

  &:hover {
    background: $button;
  }
}
