* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

*,
body {
  font-family: "Manrope", sans-serif;
}

body {
  background: #000;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 0.687rem 2.375rem;
  height: 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  font-size: 0.687rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #8257e5;
  border-radius: 6px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.button:hover {
  background: #8257e5;
}

.container {
  position: relative;
}

.container header .wrapper {
  max-width: 918px;
  margin: 0 auto;
  padding: 3.125rem 0 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .wrapper nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .wrapper nav #logo #logo-mobile {
  display: none;
}

.container header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.container header .wrapper nav ul li a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.container header .wrapper nav ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  background: #8257e5;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.container header .wrapper nav ul li a:hover {
  font-weight: 600;
}

.container header .wrapper nav ul li a:hover::after {
  width: 100%;
}

.container header .wrapper nav #button-menu,
.container header .wrapper nav #button-close {
  display: none;
}

.container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main #hero {
  display: none;
}

.container main #coffee .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.container main #coffee .text h1,
.container main #coffee .text p {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}

.container main #coffee .text p {
  color: #000;
  text-shadow: -1px -1px 0 #8257e5, 1px -1px 0 #8257e5, -1px 1px 0 #8257e5, 1px 1px 0 #8257e5;
}

.container main #coffee .background-coffee {
  width: 798px;
  height: 500px;
  background: url("../assets/rocket-coffee.png") no-repeat center;
}

.container .blur-top {
  height: 321px;
  width: 321px;
  position: absolute;
  top: -60px;
  right: -0px;
  z-index: -2;
  border-radius: 9999px;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  background: #996dff;
}

.container .blur-bottom {
  height: 321px;
  width: 321px;
  position: absolute;
  top: 495px;
  left: 0px;
  z-index: -2;
  border-radius: 9999px;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  background: #996dff;
}

@media (max-width: 600px) {
  .container header {
    border-bottom: 1px solid #29292e;
  }
  .container header .wrapper {
    padding: 2.312rem 1.625rem 1.625rem;
  }
  .container header .wrapper nav {
    /* open menu */
  }
  .container header .wrapper nav #logo #logo-desktop {
    display: none;
  }
  .container header .wrapper nav #logo #logo-mobile {
    display: block;
  }
  .container header .wrapper nav #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background: #000;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }
  .container header .wrapper nav #menu li {
    padding: 1rem 0 0.875rem 1.562rem;
    border-bottom: 1px solid #29292e;
  }
  .container header .wrapper nav > a.button {
    display: none;
  }
  .container header .wrapper nav button {
    background: none;
    border: 0;
  }
  .container header .wrapper nav #button-menu {
    display: block;
  }
  .container header .wrapper nav #button-close {
    display: none;
  }
  .container header .wrapper nav.active #menu {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }
  .container header .wrapper nav.active #button-menu {
    display: none;
  }
  .container header .wrapper nav.active #button-close {
    display: block;
  }
  .container main #hero {
    display: block;
    margin: 5.5rem 0;
  }
  .container main #hero .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5.5rem;
    padding: 0 1.687rem;
    text-align: center;
  }
  .container main #hero .content p {
    font-size: 1.875rem;
    font-weight: 600;
    color: #fff;
  }
  .container main #coffee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.562rem;
  }
  .container main #coffee .text h1,
  .container main #coffee .text p {
    font-size: 2.5rem;
  }
  .container main #coffee .background-coffee {
    width: 428px;
    height: 333px;
    background-size: contain;
  }
  .container .blur-top {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */