@import "./global";

.container {
  position: relative;

  header {
    .wrapper {
      max-width: 918px;
      margin: 0 auto;
      padding: 3.125rem 0 2.5rem 0;

      display: flex;
      align-items: center;
      justify-content: space-between;

      nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #logo {
          #logo-mobile {
            display: none;
          }
        }

        ul {
          display: flex;
          align-items: center;
          gap: 2rem;

          li {
            a {
              position: relative;

              font-size: 0.875rem;
              font-weight: 500;
              color: $text-color;
              transition: color 0.2s;

              &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 0;
                left: 0;
                bottom: -5px;

                background: $button;
                transition: width 0.2s;
              }

              &:hover {
                font-weight: 600;
                &::after {
                  width: 100%;
                }
              }
            }
          }
        }

        #button-menu,
        #button-close {
          display: none;
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    #hero {
      display: none;
    }

    #coffee {
      .text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;

        h1,
        p {
          font-size: 5rem;
          font-weight: 700;
          color: $text-color;
        }

        p {
          color: #000;
          text-shadow: -1px -1px 0 $button, 1px -1px 0 $button,
            -1px 1px 0 $button, 1px 1px 0 $button;
        }
      }

      .background-coffee {
        width: 798px;
        height: 500px;
        background: url("../assets/rocket-coffee.png") no-repeat center;
      }
    }
  }

  .blur-top {
    height: 321px;
    width: 321px;
    position: absolute;
    top: -60px;
    right: -0px;
    z-index: -2;
    border-radius: 9999px;
    filter: blur(400px);
    background: #996dff;
  }

  .blur-bottom {
    height: 321px;
    width: 321px;
    position: absolute;
    top: 495px;
    left: 0px;
    z-index: -2;
    border-radius: 9999px;
    filter: blur(400px);
    background: #996dff;
  }
}

@media (max-width: 600px) {
  .container {
    header {
      border-bottom: 1px solid #29292e;

      .wrapper {
        padding: 2.312rem 1.625rem 1.625rem;

        nav {
          #logo {
            #logo-desktop {
              display: none;
            }

            #logo-mobile {
              display: block;
            }
          }

          #menu {
            display: block;
            position: absolute;
            width: 100%;
            top: 100px;
            right: 0px;
            background: $background;
            transition: 0.6s;
            z-index: 1000;
            height: 0;
            visibility: hidden;
            overflow-y: hidden;

            li {
              padding: 1rem 0 0.875rem 1.562rem;
              border-bottom: 1px solid #29292e;
            }
          }

          > a.button {
            display: none;
          }

          button {
            background: none;
            border: 0;
          }

          #button-menu {
            display: block;
          }

          #button-close {
            display: none;
          }

          /* open menu */
          &.active {
            #menu {
              height: calc(100vh - 100px);
              visibility: visible;
              overflow-y: auto;
            }

            #button-menu {
              display: none;
            }

            #button-close {
              display: block;
            }
          }
        }
      }
    }

    main {
      #hero {
        display: block;
        margin: 5.5rem 0;

        .content {
          display: flex;
          flex-direction: column;
          gap: 5.5rem;
          padding: 0 1.687rem;

          text-align: center;
          p {
            font-size: 1.875rem;
            font-weight: 600;
            color: $text-color;
          }
        }
      }

      #coffee {
        display: flex;
        flex-direction: column;
        gap: 1.562rem;

        .text {
          h1,
          p {
            font-size: 2.5rem;
          }
        }

        .background-coffee {
          width: 428px;
          height: 333px;
          background-size: contain;
        }
      }
    }

    .blur-top {
      display: none;
    }
  }
}
